<header class="header" id="header">
  <div class="header-wrapper">
    <img src="/images/Logo.svg" id="logo" alt="logo" class="logo hidden" />
    <nav class="navigation">
      <ul class="navigation-menu">
        <li class="navigation-item">
          <a href="/task-list-removing" class="navigation-link icon-trash hidden" title="Remove mode"><span class="count hidden"></span></a>
        </li>
        <li class="navigation-item">
          <a href="/task-list" class="navigation-link icon-list active" id="taskListBtn" title="Go to Task List"></a>
        </li>
        <li class="navigation-item">
          <a href="/report" class="navigation-link icon-statistics" id="reportsBtn" title="Go to Report"></a>
        </li>
        <li class="navigation-item">
          <a href="/settings" class="navigation-link icon-settings" id="settingsBtn" title="Go to Settings"></a>
        </li>
      </ul>
    </nav>
  </div>
</header>