<section class="settings">
  <h1 class="page-title">Settings</h1>
  <h2 class="page-subtitle">Categories list overview</h2>
  <ul class="tabs">
    <li class="tabs-item">
      <a href="" class="tab-link" id="pomodoro" title="Pomodoros">Pomodoros</a>
    </li>
    <li class="tabs-item">
      <a href="" class="tab-link active" id="category" title="Categories">Categories</a>
    </li>
  </ul>
  <ul class="criterias-list">
    <li class="criteria-item">Work</li>
    <li class="criteria-item">Education</li>
    <li class="criteria-item">Hobby</li>
    <li class="criteria-item">Sport</li>
    <li class="criteria-item">Other</li>
  </ul>
  <section class="section-buttons">
    <button class="button go-to button--blue">Go to Tasks</button>
  </section>
</section>