<form class="modal modal-remove">
  <div class="modal__icons">
    <div class="left-buttons hidden">
      <button class="icons icon-trash" type="button"></button>
    </div>
    <div class="right-buttons">
      <button class="icons hidden icon-check" type="button"></button>
      <button class="icons icon-close" id="topCloseBtn"></button>
    </div>
  </div>
  <h2 class="modal__title">Remove Task</h2>
  <p class="modal__text">
    Are you sure you want <br />
    to remove selected <br />
    task(s)?
  </p>
  <section class="section-buttons">
    <button class="button go-to button--blue" id="cancel">Cancel</button>
    <button class="button save button--red" id="remove">Remove</button>
  </section>
</form>