<section class="reports">
  <h1 class="page-title">Report</h1>
  <ul class="tabs" id="filter">
    <li class="tabs-item">
      <a href="" class="tab-link" id="day">Day</a>
    </li>
    <li class="tabs-item">
      <a href="" class="tab-link" id="week">Week</a>
    </li>
    <li class="tabs-item">
      <a href="" class="tab-link" id="month">Month</a>
    </li>
  </ul>
  <div class="graph">
  </div>
  <ul class="tabs" id="sort">
    <li class="tabs-item">
      <a href="" class="tab-link" id="pomodoros">Pomodoros</a>
    </li>
    <li class="tabs-item">
      <a href="" class="tab-link" id="tasks">Tasks</a>
    </li>
  </ul>
</section>
{{!-- <button class="arrow-left arrow-main icon-arrow-left"> --}}
</button>