<section class="tasks">
  <h1 class="page-title">
    Daily Task List<button class="add-task-plus icon-add">
    </button>
  </h1>
  <div class="message">
    <img src="/images/tomato_settings.svg" alt="tomato-add" class="tomato-add" />
    <h3 class="message__info">
      As you visited our site for a first time you can check and <br />
      customize your default application settings
    </h3>
  </div>
</section>
<section class="section-buttons">
  <button class="button skip button--blue">Skip</button>
  <button class="button go-to-settings button--green">
    Go to Settings
  </button>
</section>